@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
.container {
  margin: auto;

  display: flex;
  flex-flow: row;
  justify-content: space-around;

  height: 250px;
  width: 800px;

  text-align: center;
  margin-top: 300px;

  font-family: Arial, Helvetica, sans-serif;
}
