.Main-Container{


}

.header{


    border-bottom: 5px solid black;

    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;

    padding-bottom: 40px;
}

body{

    margin: 0px;
}

a{

    margin: 40px;

}





.git {


    text-decoration: black;


  background: black;
  border-radius: 999px;
  box-shadow: black 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 13px;

  padding-left: 20px;
  padding-right: 40px;
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  word-break: break-word;
  border: 0;

  margin-left: 10px;
  margin-right: 10px;


 
}






.link {


    text-decoration: black;


  background: black;
  border-radius: 999px;
  box-shadow: black 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 13px;

  padding-left: 20px;
  padding-right: 50px;
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  word-break: break-word;
  border: 0;


 
}

svg{

    filter: invert(1);

    position: absolute;

}

.linkedinsvg{

    left: 280px;
}